[Desktop Entry]
Type=Service
ServiceTypes=KonqPopupMenu/Plugin
MimeType=application/x-iso;application/x-cd-image;inode/ISO-image;
Icon=dialog-ok
Actions=checkmd5;
TryExec=md5sum

[Desktop Action checkmd5]
Name=Read md5 Checksum
Icon=dialog-ok
Exec=notify-send -i "dialog-ok" "Checksum" "`md5sum %F`"
