[Desktop Entry]
Type=Service
Actions=_SEPARATOR_;Kwrite;Juffed;MadEdit;Thunderpad;_SEPARATOR_;KolourPaint;_SEPARATOR_;Komparetwo;Okteta;_SEPARATOR_;
X-KDE-Priority=TopLevel
ServiceTypes=KonqPopupMenu/Plugin,all/allfiles
Encoding=UTF-8

[Desktop Action Kwrite]
Name=Kwrite
Icon=kate
Exec=/usr/bin/kwrite %U

[Desktop Action Juffed]
Name=Juffed
Icon=juffed
Exec=/usr/bin/juffed %U

[Desktop Action MadEdit]
Name=MadEdit
Icon=madedit.xpm
Exec=/usr/bin/madedit %f

[Desktop Action Qedit]
Name=Qedit
Icon=kate
Exec=qedit %U

[Desktop Action Thunderpad]
Name=Thunderpad
Icon=kate
Exec=thunderpad %U

[Desktop Action KolourPaint]
Name=KolourPaint
Icon=kolourpaint
Exec=/usr/bin/kolourpaint %U

[Desktop Action Komparetwo]
Name=Compare Two Files
Icon=kompare
Exec=kompare -c %U

[Desktop Action Okteta]
Name=Okteta
Icon=okteta
Exec=/usr/bin/okteta %U
