[Desktop Entry]
Type=Service
ServiceTypes=KonqPopupMenu/Plugin
MimeType=inode/directory;application/octet-stream;
Actions=setArg1;diff;_SEPARATOR_;selected;
X-KDE-Priority=TopLevel
X-KDE-Submenu=Diff (Meld menu)
X-KDE-Submenu[de]=Meld Menü
X-KDE-Submenu[es]=Meld menú

[Desktop Action setArg1]
Icon=meld
Exec=echo "%U" > /tmp/meld-menu-arg1
Name=Set file/folder
Name[de]=Setze Datei/Ordner
Name[es]=Marcar archivo/carpeta

[Desktop Action diff]
Icon=meld
Exec=ARG1=$(cat /tmp/meld-menu-arg1);meld $ARG1 %U;
Name=Compare with file/folder
Name[de]=Vergleiche mit Datei/Ordner
Name[es]=Comparar con el archivo/carpeta marcado

[Desktop Action selected]
Icon=meld
Exec=meld %U;
Name=Compare selected files/folder
Name[de]=Vergleiche ausgewählte Dateien/Ordner
Name[es]=Comparar los archivos/carpetas seleccionadas
